body {
    margin: 0;
    padding: 0;
    /*display: grid;
    height: 100vh;
    place-items: center;*/
}

.login {
    display: grid;
    place-items: center;
    background-color: #242324;
    height: 100vh;
    width: 100vw;
    justify-content: center;
    align-items: center;
    color: white;
}

.login__container {
    padding: 100px;
    text-align: center;
    background-color: #2a292a;
    border-radius: 10px;
    box-shadow: 0 0px 10px rgba(61, 61, 66, 1);
}

.login__container > img {
    object-fit: contain;
    height: 100px;
    margin-bottom: 25px;
}

.alert {
    margin-bottom: 2rem !important; 
}

#nickname {
    margin-top: 1rem;
    border-color: #2494f4;
}

.button__login {
    margin-top: 8px;
    text-transform: inherit !important;
    background-color: #2494f4 !important;
    color: white;
}

#video-grid {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

video {
    height: 300px;
    width: 400px;
    object-fit: cover;
    padding: 8px;
    border-radius: 1rem;
}

.main {
    height: 100vh;
    display: none;
}

.main__left {
    flex: 0.8;
    display: flex;
    flex-direction: column;
}

.main__videos {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    padding: 40px;
}

.main__controls {
    display: flex;
    background-color: #1C1E20;
    color: #D2D2D2;
    padding: 5px;
    justify-content: space-between;
}

.main__controls__block {
    display: flex;
}

.main__controls__button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 8px 10px;
    min-width: 80px;
    cursor: pointer;
}

.button__icon {
    font-size: 24px;
}

.main__controls__button:hover {
    background-color: #343434;
    border-radius: 5px;
}

.leave_meeting {
    color: #EB534B;
}

.main__right {
    flex: 0.2;
    display: flex;
    flex-direction: column;
    background-color: #242324;
    border-left: 1px solid #3D3D42;
}

.main__header {
    color: #F5F5F5;
    text-align: center;
    padding: 1rem;
}

.main__chat_window {
    flex-grow: 1;
    overflow-y: scroll;
}

.main__message_container {
    padding: 22px 12px;
    display: flex;
}

.main__message_container > input {
    flex-grow: 1;
    background-color: transparent;
    border: none;
    color: #F5F5F5;
    outline: none;
}

.messages {
    color: white;
    list-style: none;
}

.message {
    margin-bottom: 1rem;
    margin-right: 1rem;
    word-break: break-all; /* wrap extended text */
}

li:before {
    content: "\f007"; /* FontAwesome Unicode */
    font-family: FontAwesome;
    display: inline-block;
    margin-left: -1.3em; /* same as padding-left set on li */
    width: 1.3em; /* same as padding-left set on li */
}

.unmute, 
.stop {
    color: #CC3B33;
}

/*========== SCROLL BAR ==========*/
::-webkit-scrollbar {
    width: .60rem;
    background-color: #242324;
    border-radius: .5rem;
}

::-webkit-scrollbar-thumb {
    background-color: #3D3D42;
    border-radius: .5rem;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #3D3D42;
}